.container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 300px;
    background: black;
}

.result {
    background: black;
    width: 100%;
    align-items: stretch;
    font-size: 20px;
}

.clear {
    background: silver;
    align-items: stretch;
    font-size: 20px;
    width: 49.5%;
}

.backspace {
    background: silver;
    width: 25.5%;
    font-size: 25px;
}

.math {
    background: rgb(255, 153, 0);
    width: 24.5%;
    color: white;
    font-size: 25px;
}

.numbers {
    background: silver;
    font-size: 25px;
    width: 25%;
}

.zero {
    background: silver;
    width: 75%;
    font-size: 25px;
}